#content{:class => 'alpha grid_8'}
  - @categories.each do |category|
    %h3= category.name
    = button_to 'Delete', category, :method => :delete
    .catcontent
      .spacer1
      - category.feeds.each do |feed|
        %span
          = feed.title
          = link_to '(Delete)', feed, :method => :delete
        %br
      - form_for [category, Feed.new] do |f|
        = f.label :title, "Title:"
        = f.text_field :title

        = f.label :url, "Url:"
        = f.text_field :url

        = f.submit "Add feed"
  .spacer1
#sidebar{:class => 'omega grid_4'}
  %h3 Add new category:
  - form_for @category do |c|
    = c.text_field :name
    = c.submit 'Add'
