.grid_8
  #content
    - if locals[:categories]
      - locals[:categories].each do |category|
        %h3= category.name
        %ul
          - category.feeds(:order => "timestamps", :limit => 5).each do |feed|
            %li= "#{feed.title} (#{feed.timestamps})"
          - if category.feeds.count > 5
            %li (see more)
    - else
      #empty
        %h5 We are sorry, but there is no any category yet. Please try again tommorow.
.grid_4
  #sidebar
    - if locals[:last_feeds]
      %h3 Last 10 news:
      %ul
        - locals[:last_feeds].each do |feed|
          %li= "#{feed.title} (#{feed.timestamps})"
