#content{:class => 'alpha grid_8'}
  - if @categories
    - @categories.each do |category|
      %h3= link_to "#{category.name}", category
      .record_content
        .spacer1
        - category.feeds.all(:order => 'updated_at DESC', :limit => 5).each do |feed|
          %span= link_to "#{feed.title}", feed
          %br
  - else
    #tip Sorry, but at the moment we dont have any category. 
  .spacer1
#sidebar{:class => 'omega grid_4'}
  %h3 Last 10 news:
  %ul
    - @entries.each do |entry|
      %li= link_to "#{entry.title}", entry
