#content{:class => 'alpha grid_8'}
  %li= auto_discovery_link_tag(:atom, :title => 'asd')
  %h2= "Hot news in #{@category.name}"
  - if flash[:notice]
    #tip= flash[:notice]
  - @entries.each do |entry|
    %h6= link_to entry.title, entry
    = "Posted on: #{entry.updated_at.strftime("%d %b %Y, %H:%M")}, "
    - if entry.author
      = "Author: #{entry.author}, "
    = link_to entry.feed.title, entry.feed
    .spacer1
  = will_paginate @entries
#sidebar{:class => 'omega grid_4'}
  %h3= link_to "#{@category.name}", @category
  %h3 Feeds in this category
  %ul
    - @category.feeds.where(:accepted => true).each do |feed|
      %li= link_to "#{feed.title}", feed
  = render :partial => 'feeds/form', :locals => { :category => @category,
                                                  :feed => @feed }
  %h3
    - if @atom_link
      = link_to (image_tag('feed-icon.png', :size => "20x20") + " Subscribe"), @atom_link
